*{
    margin: 0;
}

body{
    background-color: rgb(97, 57, 57);
}
header{

    color: aliceblue;
    text-align: center;
    padding: 25px;
    background-color: rgb(52, 48, 48);

}

header h1{
    padding-bottom: 5px;
}

.Proyecto{
    color: aliceblue;
    padding-left: 40px;
    font-size: 20px;
    margin: 20px;
    margin-bottom: 0%;
}

.Proyecto h3{
    padding-bottom: 10px;
}

button{
    margin-block: 10px;
    padding-inline: 50px;
    margin-inline: 5%;
    
}
